.formular-input{
    position: static;
    left:15rem;
    display: inline-block;
}
.formular {
    margin: 1%;
}
.formular-adresa {
    position: static;
    margin-right: 0.5%;
    padding: 0.5%;
    display: inline-block;
}

.important {
    color: red;
}

button {
    margin: 1%;
    display: block;
    margin: auto;
    margin-top: 50px;
    color: red;
    
}

.popuptext {
    position: static;
    left: 50rem;
    background-color: grey;
    color: red;
    display: none; /* ascuns */
}