.formular-input{
    position: absolute;
    left:15rem;
}
.formular {
    margin: 1%;
}
.formular-adresa {
    margin-right: 0.5%;
    padding: 0.5%;
    display: inline-block;
}

.important {
    color: red;
}

button {
    margin: 1%;
    display: block;
    margin: auto;
    margin-top: 50px;
    color: red;
    
}

.popuptext {
    top: 4rem;
    left: 4rem;
    right: 50rem;
    position: relative;
    background-color: grey;
    top: 20px;
}

/* Stilurile pentru mesaj */
.show::before {
    border: 1rem;
    content: "Introduceți numele";
    color: red;
}

/* Ascunde mesajul atunci când câmpul primește focus */
.popuptext:focus:after {
    display: none;
}